<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="org.ancit.sample.eap"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="lifeCycleURI"
               value="bundleclass://org.ancit.sample.eap/org.ancit.sample.eap.E4LifeCycle">
         </property>
         <property
               name="appName"
               value="org.ancit.sample.eap">
         </property>
         <property
               name="rendererFactoryUri"
               value="bundleclass://org.ancit.sample.eap.renderer.swt/org.ancit.sample.eap.renderer.swt.MyRendererFactory">
         </property>
         <property
               name="cssTheme"
               value="org.ancit.sample.eap.theme.default">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/MyTheme.css"
            id="org.ancit.sample.eap.theme.mytheme"
            label="Mytheme">
      </theme>
      <theme
            basestylesheeturi="css/default.css"
            id="org.ancit.sample.eap.theme.default"
            label="Default">
      </theme>
   </extension>

</plugin>
